{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="p-5 text-center bg-image bg-photo d-flex justify-content-center align-items-center">
  <div class="mask home-overlay">
      <div class="d-flex justify-content-center align-items-center">
          <div class="text-white">
              <h1 class="mb-3 text-uppercase">Sign Out</h1>
              <p>Are you sure you want to sign out? You will need to sign in again to register your interest for a trip.</p>
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-dark mb-2" type="submit">{% trans 'Sign Out' %}</button>
                <br>
                <a class="btn btn-dark mt-2" href="{% url 'routes' %}" role="button">Stay signed in and view routes</a>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
