{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center">Admin Panel</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered text-white mt-3 mb-3 admin-table">
                    <thead>
                        <tr>
                            <th scope="col">Route Name</th>
                            <th scope="col">Duration (days)</th>
                            <th scope="col">Distance (nautical miles)</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for route in routes %}
                        <tr>
                            <td>{{ route.route_name}}</td>
                            <td>{{ route.duration}}</td>
                            <td>{{ route.distance}}</td>
                            <td>{{ route.get_status_display }}</td>
                            <td><a class="btn btn-dark btn-sm m-2" href="{% url 'edit-route' route.id %}" role="button">Update</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}