{% extends "base.html" %}

{% load crispy_forms_tags %}
<!-- Template for Superuser to edit Route information -->
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="text-white text-center">
        <!-- Route information -->
        <h2 class="mb-3">Edit Route: {{ route.route_name }}</h2>
        <!-- Route form -->
        <form action="" method="POST" class="form-link"  enctype="multipart/form-data">
            {% csrf_token %}

            {{ form | crispy }}

            <button class="btn btn-dark mb-2 mt-3" type="submit">Save Changes</button>
        </form>
        <!-- Return to Admin panel without saving -->
        <a class="btn btn-dark mb-2 mt-3" href="{% url 'admin-panel' %}" role="button">Return to Admin Panel without Saving</a>
    </div>
</div>
{% endblock %}