{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="text-white text-center">
        <h2 class="mb-3">Edit your booking</h2>
        <form action="" method="POST" class="form-link"  enctype="multipart/form-data">
            {% csrf_token %}

            {{ form | crispy }}

            <button class="btn btn-dark mb-2 mt-3" type="submit">Save Changes</button>
        </form>
        <a class="btn btn-dark mb-2 mt-3" href="{% url 'profile' %}" role="button">Return to Account Without Saving</a>
    </div>
</div>
{% endblock %}