{% extends "base.html" %}

{% block content %}
<div class="p-5 text-center bg-image bg-photo d-flex justify-content-center align-items-center">
    <div class="mask home-overlay">
        <div class="d-flex justify-content-center align-items-center">
            <div class="text-white">
                <h1 class="mb-3 text-uppercase">Revolutionize global transport</h1>
                    <h4 class="mb-3">Our mission is to create a fleet of modern, fast, high-tech sailing ships that provide a sustainable alternative to air travel.</h4>
                    <p>Stage one is to develop viable sailing routes to popular destinations.</p>
                    <p>Register your interest today and join the VoyageVert revolution.</p>
                <a class="btn btn-dark btn-lg m-2" href="{% url 'routes' %}"
                    role="button">View Routes</a>
                <a class="btn btn-dark btn-lg m-2" href="#"
                    role="button">Register / Login</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}