{% extends "base.html" %}

{% block content %}
<!-- Page header -->
<div class="container">
    <div class="row pt-3">
        <div class="col align-self-start">
            <div class="mb-3">
                <h3>All available routes:</h3>
            </div>
        </div>
        <!-- Route Cards-->
        <div class="col-12 mt-3">
            <div class="row">
                {% for route in route_list %}
                <div class="col-md-6 col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        {% if "placeholder" in route.featured_image.url %}
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/mt226/image/upload/v1659624957/jtjl3aynyzh6deheh6no.jpg"
                            alt="sailing image">
                        {% else %}
                        <img class="card-img-top" src=" {{ route.featured_image.url }}" alt="destination image">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-uppercase text-center">{{ route.route_name }}</h5>
                            <p>{{ route.description }}</p>
                            <p>Duration (days): {{ route.duration }}</p>
                            <p>Distance (nautical miles): {{ route.distance }}</p>
                            <a href="{% url 'route-trips' route.id %}"
                                class="btn btn-primary mt-auto align-self-center">View trips</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}