{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Route Cards-->
        <div class="col-12 mt-3">
            <div class="row">
                {% for route in route_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in route.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/mt226/image/upload/v1659624957/jtjl3aynyzh6deheh6no.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ route.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="route">Route: {{ route.route_name }}</p>
                                    <p class="description">{{ route.description }}</p>
                                    <p class="">Duration (days): {{ route.duration }}</p>
                                    <p class="">Distance (nautical miles): {{ route.distance }}</p>
                                    <a href="{% url 'route-trips' route.id %}" class="btn btn-primary">View trips</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}