{% extends "base.html" %}

{% block content %}
<!-- Page header -->
<div class="container">
    <div class="row pt-3">
        <div class="col align-self-start">
            <div class="mb-3">
                <h3>All available trips for the {{ route_name }} route:</h3>
                {% if not trips %}
                <h4>Sorry, there are no available trips for {{ route_name }} <a class="btn btn-dark m-2"
                        href="{% url 'routes' %}" role="button">View Routes</a></h4>
            </div>
        </div>
    </div>
</div>

{% endif %}
<!-- Trip Cards-->
<div class="container">
    <div class="row">
        {% for trip in trips %}
        <div class="col-lg-3 col-md-6">
            <div class="card h-100">
                {% if "placeholder" in route_image.url %}
                <img class="card-img-top image-responsive"
                    src="https://res.cloudinary.com/mt226/image/upload/v1661516205/pexels-rachel-claire-6760957-min_brgmry.jpg"
                    alt="sailing image" style="max-height: 300px">
                {% else %}
                <img class="card-img-top image-responsive" src="{{ route_image.url }}" alt="destination image"
                    style="max-height: 300px">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Trip Date: {{ trip.trip_date }}</h5>
                    <p>{{ trip.description }}</p>
                    <a href="{% url 'booking' trip.id %}" class="btn btn-primary mt-auto align-self-center">Express
                        your interest</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
        <div class="row">
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}